{{>sidebaruser}}
<div class="main-panel">
    <!-- Navbar -->
    {{>navusermun}}
    <!-- End Navbar -->
    <div class="content text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Documentos por recibir</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Registro</th>
                                <th scope="col">Forma</th>
                                <th scope="col">Folios</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Número</th>
                                <th scope="col">Siglas</th>
                                <th scope="col">Dependencia</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Entidad</th>
                                <th scope="col">Firma</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Asunto</th>
                                <th scope="col">Recepcionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>000125</td>
                                <td>Original</td>
                                <td>1</td>
                                <td>Oficio</td>
                                <td>254</td>
                                <td>MDA/GRA-PE</td>
                                <td>Oficina de administración</td>
                                <td>........</td>
                                <td>Proyecto especial Alto Mayo</td>
                                <td>Ab. Mickey Reategui Salas</td>
                                <td>Jefe</td>
                                <td>daskdjaksjdalksjdakls</td>
                                <td>
                                     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recepcionar" data-bs-whatever="@mdo">recepcionar</button>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>000125</td>
                                <td>Original</td>
                                <td>1</td>
                                <td>Oficio</td>
                                <td>254</td>
                                <td>MDA/GRA-PE</td>
                                <td>Oficina de administración</td>
                                <td>........</td>
                                <td>Proyecto especial Alto Mayo</td>
                                <td>Ab. Mickey Reategui Salas</td>
                                <td>Jefe</td>
                                <td>daskdjaksjdalksjdakls</td>
                                <td>
                                     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recepcionar" data-bs-whatever="@mdo">recepcionar</button>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>000125</td>
                                <td>Original</td>
                                <td>1</td>
                                <td>Oficio</td>
                                <td>254</td>
                                <td>MDA/GRA-PE</td>
                                <td>Oficina de administración</td>
                                <td>........</td>
                                <td>Proyecto especial Alto Mayo</td>
                                <td>Ab. Mickey Reategui Salas</td>
                                <td>Jefe</td>
                                <td>daskdjaksjdalksjdakls</td>
                                <td>
                                     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recepcionar" data-bs-whatever="@mdo">recepcionar</button>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>000125</td>
                                <td>Original</td>
                                <td>1</td>
                                <td>Oficio</td>
                                <td>254</td>
                                <td>MDA/GRA-PE</td>
                                <td>Oficina de administración</td>
                                <td>........</td>
                                <td>Proyecto especial Alto Mayo</td>
                                <td>Ab. Mickey Reategui Salas</td>
                                <td>Jefe</td>
                                <td>daskdjaksjdalksjdakls</td>
                                <td>
                                     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recepcionar" data-bs-whatever="@mdo">recepcionar</button>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>000125</td>
                                <td>Original</td>
                                <td>1</td>
                                <td>Oficio</td>
                                <td>254</td>
                                <td>MDA/GRA-PE</td>
                                <td>Oficina de administración</td>
                                <td>........</td>
                                <td>Proyecto especial Alto Mayo</td>
                                <td>Ab. Mickey Reategui Salas</td>
                                <td>Jefe</td>
                                <td>daskdjaksjdalksjdakls</td>
                                <td>
                                     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recepcionar" data-bs-whatever="@mdo">recepcionar</button>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            
<div class="modal fade" id="recepcionar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-secundary">
        <h5 class="modal-title" id="exampleModalLabel">Recepcionar Expediente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <p>Registros que seran  recepcionados</p>
          </div>
          <div class="mb-3">
            <input type="text" name="" id="" placeholder="000125">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Grabar recepción</button>
      </div>
    </div>
  </div>
</div>
<script>
    var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = 'New message to ' + recipient
  modalBodyInput.value = recipient
})
</script>

            </div>
            {{>footer}}
        </div>