{{>sidebaruser}}
<div class="main-panel">
    <!-- Navbar -->
    {{>navusermun}}
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card-group">
                        <div class="card me-3 p-4"><a href="">
                                <img src="/images/documentosEnProceso.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Documentos en proceso</h5>
                                </div>
                            </a>
                        </div>
                        <div class="card me-3 p-4"><a href="">
                                <img src="/images/document.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Documentos por recibir</h5>
                                </div>
                            </a>
                        </div>
                        <div class="card p-4"><a href="">
                                <img src="/images/archive.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Documentos archivados/Procesados</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="card-group">
                        <div class="card me-3 p-4"><a href="">
                                <img src="/images/search.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Buscar</h5>
                                </div>
                            </a>
                        </div>
                        <div class="card me-3 p-4"><a href="">
                                <img src="/images/key.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Cambiar Contraseña</h5>
                                </div>
                            </a>
                        </div>
                        <div class="card p-4"><a href="">
                                <img src="/images/logout.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Salir</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            {{>footer}}
        </div>