<div class="sidebar" data-color="purple" data-background-color="black" data-image="/images/sidebar.jpg">
    <div class="logo">
        
            <img class="rounded mx-auto d-block" src="/images/aquia.png" alt="Aquia" width="150">
        
    </div>
    <div class="sidebar-wrapper">
      <form action="" method="" ref="" id="" encType="multipart/form-data">
        <ul class="nav">
            <li class="nav-item ">
                <a href="/emp/municipal" class="nav-link" id="nav-userperfil" >
                    <i class="material-icons">home</i>
                    <p>Inicio</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/emp/gentramite" class="nav-link" id="nav-userperfil" >
                    <i class="material-icons">book</i>
                    <p>Generar trámite</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/emp/docprocess" class="nav-link" id="nav-user" >
                    <i class="material-icons">book</i>
                    <p>Documentos en proceso</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/emp/docrecieve" class="nav-link" id="nav-gentramite" >
                    <i class="material-icons">library_books</i>
                    <p>Documentos por recibir</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/emp/docarchi" class="nav-link" id="nav-userperfil" >
                    <i class="material-icons">archive</i>
                    <p>Documentos archivados</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/emp/search" class="nav-link" id="nav-userperfil" >
                    <i class="material-icons">search</i>
                    <p>buscar</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/" class="nav-link" id="nav-home" >
                    <i class="material-icons">logout</i>
                    <p>Salir</p>
                </a>
            </li>
        </ul>
      </form>
    </div>
</div>
