<body class="background-img">
    <div id="container-content">
            <div id="titulos">MUNICIPALIDAD DISTRITAL DE AQUIA</div>
            <div id="subtitulo">Recuperar contraseña de usuario</div>
            <input type="password" id="textbox-login02" placeholder="Ingresa tu contraseña">
            <button class="btn-login">Recuperar mi contraseña</button>
            <div class="div-forgotpsw">Regresar al login</div>
            <img src="/images/aquia.jpg" class="escudo-aquia-reg">
        </div>
</body>